$light-theme-colors: (
  background: rgb(122, 125, 222),
  foreground: rgb(16, 24, 35),
  cta: rgb(61, 64, 131),
  neutral: rgb(255, 255, 255),
);

$dark-theme-colors: (
  background: rgb(16, 24, 35),
  foreground: rgb(122, 125, 222),
  cta: rgb(61, 64, 131),
  neutral: rgb(255, 255, 255),
);
